@charset "utf-8";

body {
  font-family: Helvetica, '游ゴシック', 'Yu Gothic', YuGothic, HiraKakuProN-W3, 'メイリオ', Meiryo, sans-serif;
  font-size: 14px;
  color: #333;
  line-height:1.9;
  text-align: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-text-size-adjust: 100%;
}

/*.page-enter-active, .page-leave-active {*/
  /*transition: opacity .5s;*/
/*}*/
/*.page-enter, .page-leave-to {*/
  /*opacity: 0;*/
/*}*/

header {
  padding: 20px 20px 0px 20px;
}
a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color:#333;
  text-decoration: none;
  opacity: 0.5;
}

.sp {
  display: block;
}

.pc {
  display: none;
}

/* header
** -----------------------------------------
*/

header {
  overflow: hidden;
}

section {
  margin-top: 35px;
}

.wrap {
  flex-wrap: wrap;
}

nav li {
  float: left;
  width: 50%;
  border-bottom: 1px solid #d9d9d9;
  text-align: center;
}

nav ul li:nth-child(odd) {
  background-size:  1px 10px;
}

nav ul li a {
  display: block;
  width: 100%;
  padding: 12px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0.1em;
}

/* footer
** -----------------------------------------
*/

.footer {
  background-color: #fafafa;
  padding: 3rem 1.5rem 6rem;
  margin-top: 50px;
}

.social {
  font-size: 1.5rem;
  margin: 10px 0;
}

.social ul li {
  display: inline-block ;
  list-style: none;
  margin-right: 1.5rem;
}

.social ul li:last-child {
  margin-right: 0;
}

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: .75rem;
}

.bd-notification.is-primary {
  background-color: #00d1b2;
  color: #fff;
}

.bd-notification {
  background-color: #f5f5f5;
  border-radius: 4px;
  color: #7a7a7a;
  font-weight: 600;
  padding: 1.25rem 0;
  position: relative;
  text-align: center;
}

.timeline-content {
  position: relative;
  width: 100%;
  padding: 1em 1.5em 1em 1.5em !important;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  top: -22px;
  background-color: #ececec;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

.pos-left .timeline-content:before {
  right: -12px;
  border-color: transparent transparent transparent #ececec;
}

.pos-right .timeline-content:before {
  left: -12px;
  border-color: transparent #ececec transparent transparent;
}

.timeline-content:before {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 6px;
}

@media only screen and (max-width: 759px) {
  section {
    margin: 35px 25px 0px 25px;
  }

  #profile h2 {
    display: none;
  }

  .videoWidth {
    width: 320px;
    height: 180px;
  }

}

/*!* タブレット向け：760px～960px *!*/
@media only screen and (min-width: 760px) {
  section {
    margin: 35px 25px 0px 25px;
  }
  /*.sp {*/
    /*display: none;*/
  /*}*/
  /*.pc {*/
    /*display: block;*/
  /*}*/

/* header
** -----------------------------------------
*/

  /*header {*/
    /*position: relative;*/
    /*max-width: 1152px;*/
    /*width: 1152px;*/
    /*height: 80px;*/
    /*margin: 0 auto;*/
  /*}*/

  /*nav {*/
    /*float: left;*/
  /*}*/
  /*nav li {*/
    /*margin-right: 50px;*/
    /*display: inline;*/
    /*float: none;*/
    /*border-bottom: none;*/
    /*text-align: right;*/
  /*}*/
  /*nav li.contact {*/
    /*display: inline;*/
  /*}*/
  /*nav ul li:nth-child(odd) {*/
    /*background: none;*/
  /*}*/
  /*nav ul li a {*/
    /*display: inline;*/
    /*font-size: 14px;*/
    /*font-weight: 400;*/
    /*letter-spacing: 0.1em;*/
  /*}*/
  /*.socialBtn {*/
    /*float: right;*/
  /*}*/
  /*.socialBtn li {*/
    /*display: inline;*/
    /*margin-right: 14px;*/
  /*}*/
  /*.socialBtn li.last {*/
    /*margin-right: 0;*/
  /*}*/
  .socialBtn img {
    width: 22px;
    height: 22px;
  }

  /* contents
  ** -----------------------------------------
  */

  /*#main.inner {*/
    /*max-width: 960px;*/
    /*padding: 0;*/
    /*margin: 0 auto;*/
  /*}*/
  /*#main h2.ttl.large {*/
    /*margin: 0 0 70px 0;*/
    /*font-size: 46px;*/
    /*text-align: left;*/
  /*}*/
  /*.contBox {*/
    /*margin: 0 40px;*/
  /*}*/
  /*.pageNation .pageLeft {*/
    /*position: absolute;*/
    /*left: 40px;*/
    /*top: 0;*/
  /*}*/
  /*.pageNation .pageRight {*/
    /*position: absolute;*/
    /*right: 40px;*/
    /*top: 0;*/
  /*}*/


} /* タブレット向け */

/*!* PC向けレイアウトの指定：961px～ *!*/
@media only screen and (min-width: 961px) {

  .videoWidth {
    width: 640px;
    height: 360px;
  }

  .timeline .timeline-item {
    margin-left: 17em;
    margin-right: 7em;
  }


} /* PC向け */


